<tr>
  <td><%= band.name %></td>
  <td><%= link_to 'Show', band %></td>
  <td><%= link_to 'Edit', edit_band_path(band) %></td>
  <td><%= link_to 'Destroy', band, method: :delete, data: {
     confirm: 'Are you sure?', remote: true }, classs: "delete" %></td>
</tr>
